<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
        <nav>
            <ul>
                <a href="/"><img src="/images/icons/home.png" alt="home"></a>
                <a href="/projects"><img src="/images/icons/project.png" alt="projects"></a>
                <a href="/about"><img src="/images/icons/about.png" alt="about"></a>
            </ul>
        </nav>
</body>

</html>