<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <%- include('header') %>
      <h1>Projects</h1>
    </header>
    <main>
      <h1>My Projects</h1>
      <p>perc</p>
    </main>
    <footer>
      <p>&copy; 2023 Albert Simorangkir. All rights reserved.</p>
    </footer>
  </body>
</html>